
{{> header}}
<div class="container">
	<center><h3>Edit your Blog</h3></center>
       <div class="container"  style="width:40%; auto">  
            <form action="/blogs/{{blog.id}}/edit?_method=put" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name" value="{{blog.name}}" required autofocus>
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image URL" value="{{blog.image}}" required>
                </div>

                <div class="form-group">
                    <input class="form-control" type="number" name="price" placeholder="Price" value="{{blog.price}}" required>
                </div>

                <div class="form-group">
                    <textarea class="form-control rounded-0" rows="5" name="description" placeholder="Add description" required>{{blog.description}}</textarea>
                </div>

                <div class="form-group">
                <button class="btn btn-md btn-primary btn-block">Edit</button>
                </div>
            </form>
                <a  href="/blogs">Go Back</a>
        </div>
</div>

</body>
</html>