	<div class="container1"><img class="logo" src="/images/node-blog-logo.jpg" /></div>
	<div class="container">
		
		<nav>
			<ul>
				<li><a href="/blog/showall">home</a></li>
				<li><a href="/posts/add">Add Post</a></li>
				<li><a href="/categories/add">Add Category</a></li>
			</ul>
		</nav>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="post">
	<h2 id="title">{{posts.title}}</h2>
		<p class="meta">
			<a class="a_meta" href="/categories/show/{{posts.categories}}"> 
				posted in
				 <b>{{posts.categories}}</b> by <b>{{posts.author}}</b> 
				on {{posts.date}}
			</a>
		</p>
	<img src="/images/uploads/{{posts.mainImageName}}">
	<p class=meta1>{{posts.body}}</p> 
	<form method="post" action="/posts/delete">
	<button>delete</button>
</div>


{{#if posts.comments}}
<h4>comments : </h4>
{{#each posts.comments}}
<div class="postcomment">
<p>{{name}}</p>
<p>{{email}}</p>
<p>{{body}}</p>
</div>
{{/each}}
{{else}}
<p>there are no comments</p>
{{/if}}

	<div>
		<form method="post" action="/posts/addcomment" enctype="multipart/form-data">
			<input type="hidden" name="postid" value="{{posts._id}}"></br>
			<label id="commentlabel">name :</label><input type="text" name="name"></br>
			<label id="commentlabel">comment :</label><textarea placeholder="Please Comment here" name="body" id="body"></textarea></br>
			<label id="commentlabel">email :</label><input type="email" name="email"></br>
			<input type="submit" value="Comment" class="submit">
		</form>
	</div>
</div>

</body>
</html>
</div>